.list-item {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #0f4fb2;
}

a.active .list-item {
  background-color: #0f4fb2;
}

a.active .list-item__title {
  color: white;
}

.list-item__icon {
  margin-right: 16px;
}

.list-item__title {
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: -0.6px;
  text-align: left;
  color: #9db6dd;
}

.active {
  background-color: #0f4fb2;
  color: #0d47a1;
}